// Place all the styles related to the stats controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#chart_div {
	width: 310px; 
	height: 310px;
	padding: 0;
	margin: 0;
}